@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem ;
}

.section-title {
    padding-bottom: .5rem ;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #030712;
    position: relative;
}

.section-title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 75px;
    background-color:#030712 ;
}

.button{
    padding: .75rem 2rem;
    font-size: .8rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

img{
    width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.navbar{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;

}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #030712;
}

.nav-buttons{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    padding: .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: #6b7280;
    transition: 0.3s;

}

.link a:hover {
    color: #030712;
}    

.nav-icons{
    display: flex;
    gap: 1rem;

}

.nav-icons span{
    font-size: 1.25rem;
    cursor: pointer;
}

a{
    text-decoration: none;
}


.about{
    background: url(/images/about.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #fbfbfb;
    overflow: hidden;
    padding: 7rem 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #fbfbfb;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #030712;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #fbfbfb;
    color: #030712;
}

/* media queries*/
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}