@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #f1faff;
    --text-dark:#030712;
    --text-light:#6b7280;
    --extra-light:#fbfbfb;
    --white:#ffffff;
    --max-width:1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem ;
}

.section-title {
    padding-bottom: .5rem ;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #030712;
    position: relative;
}

.section-title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 75px;
    background-color:#030712 ;
}

.button{
    padding: .75rem 2rem;
    font-size: .8rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #030712;
}

.nav-buttons{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    padding: .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: #6b7280;
    transition: 0.3s;

}

.link a:hover {
    color: #030712;
}    

.nav-icons{
    display: flex;
    gap: 1rem;

}

.nav-icons span{
    font-size: 1.25rem;
    cursor: pointer;
}

header {
    margin-top: 10rem;
    background-color: #f1faff ;

}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header-content p{
    font-size: .8rem;
    font-weight: 600;
    color: #6b7280;
    margin-bottom: 0.5rem;

}

.header-content h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #030712;
}

.header-content .button {
    background-color: #030712;
    color: #ffffff;
    border-radius: 8rem;
}

.header-image {
    position: relative;
}

.header-image img {
    max-width: 950px;
    position: absolute;
    bottom: -5rem;
}

.collection {
    position: relative;
}

.collection img {
    max-width: 400px;
    margin: auto;
}

.collection-content {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.collection-content .section__title {
    margin-bottom: 2rem;
}

.collection-content p{
    font-size: .9rem;
    color: #6b7280;
    margin-bottom: .1rem;
}

.collection-content h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.collection-content .button{
    border: 1px solid #030712;
    color: #030712;
    background-color: #ffffff;
}

.collection-content .button:hover{
    background-color: #030712;
    color: #ffffff;
}

.sale-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
    
.sale-card {
    position: relative;
    overflow: hidden;
}    

.sale-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.sale-title{
    font-size: 2rem;
    font-weight: 600;
}

.sale-title span{
    font-size: 2.5rem;
}

.sale-sub {
    font-size: 1rem;
}

.sale-button {
    margin-top: 2rem;
    color: #ffffff;
    background-color: #030712;
}

.sale-card::before{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top:-100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.sale-card:hover::before {
    top: 0;
}

.sale-card:hover .sale-button{
    color:#030712;
    background-color: #ffffff;
}